/*
Skin Name: Nivo Slider Light Theme
Skin URI: http://nivo.dev7studios.com
Description: A light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-light.slider-wrapper {
    background: #fff;
}
.theme-light .nivoSlider {
	position:relative;
	background: #fff url(/img/sw/slider_loading.gif) no-repeat 50% 50%;
    overflow: visible;
}
.theme-light .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-light .nivoSlider a {
	border:0;
	display:block;
}
.theme-light .nivo-controlNav {
	position: relative;
	z-index: 10;
}
.theme-light .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(/img/sw/slider_bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-light .nivo-controlNav a.active {
	background-position:0 100%;
}
.theme-light .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background: #fff url(/img/sw/slider_arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	z-index: 11;
	opacity: .5;
}
.theme-light .nivo-directionNav a:hover {
    background-color: #fff;
	opacity: 1;
}
.theme-light a.nivo-nextNav {
	background-position:160% 50%;
	top: 45%;
	right:0px;
    -webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.theme-light a.nivo-prevNav {
    background-position:-60% 50%;
	top: 45%;
	left: 0px;
    -webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.theme-light .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-light .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-light .nivo-caption a:hover {
    color:#fff;
}

.theme-light .nivo-controlNav.nivo-thumbs-enabled {
	width: 80%;
}
.theme-light .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-light .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}