.sortable th {
  font-weight:bold;
	font-size: 7.5pt;
/*
	padding: 0.5em;
	border: 1px solid #CCC;
*/
}

.sortable td {
	font-size: 7.5pt;
}

.sortable thead, .sortable tfoot {
	background-color: #DDD;
}

.sortable tr.rowodd {

}

.sortable tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #DDFFAC;
	background-image: url(up.gif);
}
.sortdesc {
	background-color: #B9DDFF;
	background-image: url(down.gif);
}
.nosort {
	cursor: default;
}

.scroll-table-head {
    width: 800px;
}

.scroll-table-body {
    width: 800px;
    height: 400px;				
}
.scroll-table-body td {
	padding-right: 20px;
	overflow: hidden;
}

