
P {margin-top: 4px; margin-bottom: 4px; padding-top: 2px; padding-bottom: 2px}

#divMainSubTitle img {display:block}
#divTabTitle
{
/*position:absolute;
  width:800px;
overflow:scroll;
*/
}

body {
	color: #000000;
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}
td {
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}

input {
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}

.cbox,
.cbox input
{
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial;
  height:14px;
}

.inputLabel {
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  width:55px;
  height:12px;
  border:none;
  text-align:right;
	}

.inputLabelRed {
	font-size: 7.5pt;
  color: red;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  width:55px;
  height:12px;
  border:none;
  text-align:right;
	}

.inputLabelBold {
	font-size: 7.5pt;
  font-weight: bold;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  width:55px;
  height:12px;
  border:none;
  text-align:right;
	}
.inputLabelBoldRed {
	font-size: 7.5pt;
  color: red;
  font-weight: bold;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  width:55px;
  height:12px;
  border:none;
  text-align:right;
	}

.smallbold {
   font-family:Arial,Helvetica;
   font-weight: bold;
   font-size: 7.5pt;
   text-decoration: none;
}
.smallredbold {
   color:red;
   font-family:Arial,Helvetica;
   font-weight: bold;
   font-size: 7.5pt;
   text-decoration: none;
}



.pagetitle { FONT-FAMILY: Arial,Verdana,Times,Arial; Font-Weight: Bold; COLOR: #99CCFF; font-size: 20pt; }

.headlines { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #0066CC; font-size: 9pt; }
.headlines A{ FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #0066CC; font-size: 9pt; }
.headlines A:visited { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR:#0066CC; }
.headlines A:active { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #CC9900; }
.headlines A:hover { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #CC9900;}

.subheadlines_blk { FONT-FAMILY: Verdana; Font-Weight: normal; COLOR: #000000; font-size:11px; line-height:1.5em;}

.supportTeam { FONT-FAMILY: Verdana; Font-Weight: Bold; background-color:#868D97; COLOR: white; font-size: 8pt; }
.supportTeamPic { FONT-FAMILY: Verdana; Font-Weight: Bold; background-color:#ddd; COLOR: black; font-size: 8pt; }

.headlines2 { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR:#ffcc00; font-size: 9pt; }

/* for button menu items */
TR.btnRow TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #fff #666 #666;
	border-left: none;
  font-size: 8pt;
}
TR.btnRow TD.btnBorder {
	background-color: #ccc;
	border-right: none;
  font-size: 8pt;
}
.btnTxt {
  font-family: arial;
	background-color: #ddd;
	font-weight:normal;
	color: #000;
  font-size: 8pt;
}
.btnTxt A:link, .btnTxt A:visited { text-decoration:none; color: #000; }
.btnTxt A:hover { text-decoration:none; color:red; }

/* for button menu items; RED */
TR.btnRowRed TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #fff #be2705 #be2705;
	border-left: none;
  font-size: 8pt;
}
TR.btnRowRed TD.btnBorderRed {
	background-color: #be2705;
	border-right: none;
  font-size: 8pt;
}

.btnTxtRed {
  font-family: arial;
/*	background-color: #FF6600; */
	background-color: #d72d07;

	font-weight:bold;
	color: white;
  font-size: 8pt;
}
.btnTxtRed A:link, .btnTxtRed A:visited { text-decoration:none; color: white; }
.btnTxtRed A:hover { text-decoration:none; color:yellow; }

.caltitle { FONT-FAMILY: Verdana; Font-Weight: Bold; background-color: black; COLOR: #ffcc00; font-size: 7.5pt; }

.calday { FONT-FAMILY: Verdana; COLOR: #0066CC; background-color:#f0f0f0; font-size: 7.5pt; }
.calday td { FONT-FAMILY: Verdana; COLOR: #0066CC; background-color:#f0f0f0; font-size: 7.5pt; }
.calday A{ FONT-FAMILY: Verdana; COLOR: #0066CC; background-color:#f0f0f0;font-size: 7.5pt; }
.calday A:visited { FONT-FAMILY: Verdana; background-color:#f0f0f0;COLOR:#0066CC; }
.calday A:active { FONT-FAMILY: Verdana; background-color:#f0f0f0;COLOR: #ffcc00; }
.calday A:hover { FONT-FAMILY: Verdana; background-color:#f0f0f0;COLOR: #ffcc00;}

.calfocus { FONT-FAMILY: Verdana; COLOR: black; font-size: 7.5pt; }
.calfocus A{ FONT-FAMILY: Verdana; COLOR: black; font-size: 7.5pt; }
.calfocus A:visited { FONT-FAMILY: Verdana; COLOR: black; }
.calfocus A:active { FONT-FAMILY: Verdana; COLOR: blue; }
.calfocus A:hover { FONT-FAMILY: Verdana; COLOR: blue;}

.link { FONT-FAMILY: Verdana; COLOR: #0066CC; font-size: 8pt; }
.link A{ FONT-FAMILY: Verdana; COLOR: #0066CC; font-size: 8pt; }
.link A:visited { FONT-FAMILY: Verdana; COLOR:#0066CC; }
.link A:active { FONT-FAMILY: Verdana; COLOR: #CC9900; }
.link A:hover { FONT-FAMILY: Verdana; COLOR: #CC9900;}

.body_title {
	FONT-FAMILY: Arial;
	font-weight:bold;
	font-size: 14pt;
	color: white;
}

.copyright {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana; COLOR: #999999;
}
.blurb {
	FONT-SIZE: 70%; FONT-FAMILY: Verdana; color: #CCCCCC;
}

.form_label {
  font-size:8px;
	FONT-FAMILY:Verdana;
	font-weight: normal;
}

.button { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: normal; }
.button A { font-size:10px; color: #006699;  font-weight: normal;  text-decoration: none; }
.button A:link { font-size:10px; color: #006699; font-weight: normal; text-decoration: none; }
.button A:visited { color: #006699; font-weight: normal; text-decoration: none; }
.button A:hover	{ color: #CC9900; font-weight: normal; text-decoration: none; }
.button A:active { color: #006699; font-weight: normal; text-decoration: none;  }

.tuGearLink { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: bold; }
.tuGearLink A { font-size:10px; color: #006699;  font-weight: bold;  text-decoration: underline; }
.tuGearLink A:link { font-size:10px; color: #006699; font-weight: bold; text-decoration: underline; }
.tuGearLink A:visited { color: #006699; font-weight: bold; text-decoration: underline; }
.tuGearLink A:hover	{ color: #CC9900; font-weight: bold; text-decoration: none; }
.tuGearLink A:active { color: #006699; font-weight: bold; text-decoration: none;  }

.tuGearTab { font-size:7.5pt; font-family:verdana, arial; color: white; font-weight: bold; }
.tuGearTab A { font-size:7.5pt; color: white;  font-weight: bold;  text-decoration: none; }
.tuGearTab A:link { font-size:7.5pt; color: white; font-weight: bold; text-decoration: none; }
.tuGearTab A:visited { color: white; font-weight: bold; text-decoration: none; }
.tuGearTab A:hover	{ color: yellow; font-weight: bold; text-decoration: none; }
.tuGearTab A:active { color: white; font-weight: bold; text-decoration: none;  }

.tuGearTabSel { font-size:7.5pt; font-family:verdana, arial; color: yellow; font-weight: bold; }
.tuGearTabSel A { font-size:7.5pt; color: yellow;  font-weight: bold;  text-decoration: none; }
.tuGearTabSel A:link { font-size:7.5pt; color: yellow; font-weight: bold; text-decoration: none; }
.tuGearTabSel A:visited { color: yellow; font-weight: bold; text-decoration: none; }
.tuGearTabSel A:hover	{ color: yellow; font-weight: bold; text-decoration: none; }
.tuGearTabSel A:active { color: yellow; font-weight: bold; text-decoration: none;  }


.store_crumb { font-size:10px; font-family:verdana, arial; color: #cc3300; font-weight: normal; }
.store_crumb A { font-size:10px; color: #cc3300;  font-weight: normal;  text-decoration: none; }
.store_crumb A:link { font-size:10px; color: #cc3300; font-weight: normal; text-decoration: none; }
.store_crumb A:visited { color: #cc3300; font-weight: normal; text-decoration: none; }
.store_crumb A:hover	{ color: #ff9900; font-weight: normal; text-decoration: none; }
.store_crumb A:active { color: #cc3300; font-weight: normal; text-decoration: none;  }

.store_crumb_last { font-size:11px; font-family:verdana, arial; color: #666666; font-weight: bold; }

.store_cat_title { font-size:20px; font-family:verdana, arial; color: #333333; font-weight: normal; margin:10px 0}
.store_box_title { font-size:11px; font-family:verdana, arial; color: #333333; font-weight: bold;}

.store_box_link { font-size:10px; font-family:verdana, arial; color: #cc3300; font-weight: normal; }
.store_box_link A { font-size:10px; color: #cc3300;  font-weight: normal;  text-decoration: underline; }
.store_box_link A:link { font-size:10px; color: #cc3300; font-weight: normal; text-decoration: underline; }
.store_box_link A:visited { color: #cc3300; font-weight: normal; text-decoration: underline; }
.store_box_link A:hover	{ color: #ff9900; font-weight: normal; text-decoration: none; }
.store_box_link A:active { color: #cc3300; font-weight: normal; text-decoration: none; }

.store_img_roll { font-size:10px; font-family:verdana, arial; color: #666600; font-weight: normal; }

.store_cart_prod { font-size:12px; font-family:verdana, arial; color: #cc3300; font-weight: bold; }
.store_cart_prod A { font-size:12px; color: #cc3300;  font-weight: bold;  text-decoration: underline; }
.store_cart_prod A:link { font-size:12px; color: #cc3300; font-weight: bold; text-decoration: underline; }
.store_cart_prod A:visited { color: #cc3300; font-weight: normal; text-decoration: underline; }
.store_cart_prod A:hover	{ color: #ff9900; font-weight: bold; text-decoration: none; }
.store_cart_prod A:active { color: #cc3300; font-weight: bold; text-decoration: underline; }

.store_cart_prod_black { font-size:11px; font-family:verdana, arial; color: black; font-weight: bold; }
.store_cart_prod_black A { font-size:11px; color: black;  font-weight: bold;  text-decoration: underline; }
.store_cart_prod_black A:link { font-size:11px; color: black; font-weight: bold; text-decoration: underline; }
.store_cart_prod_black A:visited { color: black; font-weight: normal; text-decoration: underline; }
.store_cart_prod_black A:hover	{ color: #ff9900; font-weight: bold; text-decoration: none; }
.store_cart_prod_black A:active { color: black; font-weight: bold; text-decoration: underline; }




.subhead {
	color: black;
	font-weight: normal;
	font-size: 9pt;
	margin: 1px 4px;
	}

.navcolor { color: white; background-color: #006699; font-weight: bold; font-size: 8pt; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;}
.navcolor A { color: white; background-color: #006699; font-weight: bold; font-size: 8pt; text-decoration: none;}
.navcolor A:visited { color: white; background-color: #006699; font-weight: bold; font-size: 8pt; text-decoration: none;}
.navcolor A:active { color: white; background-color: #006699; font-weight: bold; font-size: 8pt; text-decoration: none;}
.navcolor A:hover { color:#FFCC00; background-color: #006699; font-weight: bold; font-size: 8pt; text-decoration: none;}


#titlebox {
	background-image: url(images/pageheader_bg-2_top.gif);
	}

#subheadbox {
	background-image: url(images/pageheader_bg-2_bottom.gif);
	}

.secondarycolor {
	background-color: #B0C4DE;
	background-image: url(images/sidebar_bg-2.gif);
	}


.tabunselect {
/*	background-color: #B0C4DE; */
	background-color: #CCCCCC;
	font-weight: normal;
	font-size: 8pt;
	margin: 2px;
	}
.tabunselect A { color: #000000; text-decoration: none}
.tabunselect A:link { color: #000000; text-decoration: none}
.tabunselect A:visited { color: #000000; text-decoration: none}
.tabunselect A:hover	{ color: red; text-decoration: underline}


.tabselect {
	background-color: #4682B4;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 8pt;
	margin: 2px;
	}

.sidebar {
  color: white;
	font-weight: bold;
	font-size: 8pt;
  font-variant:small-caps;
	vertical-align: middle;
	}

.tabspace {
	width: 2px;
	}
.menuBackground {
  background-color: #868D97;
	FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}

.menuBackground td {
  background-color: #868D97;
	FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}
.submenuBackground {
  background-color: #868D97;
  FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}

.submenuBackground td {
  background-color: #868D97;
  FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}

.submenuBackground_20,
.submenuBackground_20 td
 {
  height: 20px;
  padding: 3px 3px;
  background-color: #868D97;
  FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}

.tabUnSel,
.tabUnSel A,
.tabUnSel A:link,
.tabUnSel A:visited,
.tabUnSel A:active,
.tabUnSel td
{
  font-size: 7.5pt;
  FONT-FAMILY: Verdana;
  Font-Weight: normal;
  TEXT-DECORATION: none;
}
.tabUnSel a:hover
{
  COLOR: yellow;
  TEXT-DECORATION: none;
}

.tabSel,
.tabSel A,
.tabSel A:link,
.tabSel A:visited,
.tabSel A:active,
.tabSel td
{
  font-size: 7.5pt;
  FONT-FAMILY: Verdana;
  Font-Weight: Bold;
  COLOR: black;
  TEXT-DECORATION: none;
}
.tabSel a:hover
{
  COLOR: red;
  TEXT-DECORATION: none;
}


.submenuBackground td {
  background-color: #868D97;
  FONT-FAMILY: Verdana; Font-Weight: Bold;
  COLOR: #FFFFFF; TEXT-DECORATION: none
}


.centerPiece {
  background-color:white;
  FONT-FAMILY: Verdana;
  COLOR:black; TEXT-DECORATION: none;
}

.header,
.header A:link,
.header A:visited,
.header A:active
{
	font-size: 10px;
  FONT-FAMILY: Verdana;
  Font-Weight: Bold;
  COLOR: #FFFFFF;
  TEXT-DECORATION: none;
  background-color:#868D97;
  height:20px;
  padding: 4px 0;
}
.header A:hover
{
  COLOR: #333333;
  background-color:#cccccc;
}

.alert { color: red; font-weight: bold; }
.alert dt { color: red; font-weight: bold; }

.cright { font-size: 8pt; }
.cright td { font-size: 8pt; }

/*----------------------------------------*/
.dbtable {
}
.dbtable th {
  color:white;
	background-color: #868D97;
  font-weight:bold;
	font-size: 7.5pt;
}
.dbtable .on,
.dbtable .on A
{
  color:black;
	background-color: white;
  font-weight:normal;
	font-size: 7.5pt;
}

.dbtable .off,
.dbtable .off A
{
  color:black;
	background-color: #ADD8E6;
  font-weight:normal;
	font-size: 7.5pt;
}
.dbtable .hover
 {
	background-color: black;
  color: white;
  font-weight:normal;
	font-size: 7.5pt;
}
.dbtable .hover A
 {
	background-color: black;
  color:yellow;
  font-weight:normal;
	font-size: 7.5pt;
}

/*----------------------------------------*/


.dbtable_colheader {
  color:white;
	background-color: #868D97;
  font-weight:bold;
	font-size: 7.5pt;
	}
.dbtable_colheader A {  text-decoration: underline; }
.dbtable_colheader A:link { text-decoration: underline;}
.dbtable_colheader A:visited		{ color: white;  text-decoration: underline;}
.dbtable_colheader A:active		{ color: #FFD700;  text-decoration: none;}
.dbtable_colheader A:hover		{ color: #FFD700; text-decoration: none;}


.dbtable_shadow {
  color:black;
	background-color: #ADD8E6;
  font-weight:normal;
	font-size: 7.5pt;
	}
.dbtable_shadow A { color: black;  text-decoration: underline; }
.dbtable_shadow A:link { color: black; text-decoration: underline;}
.dbtable_shadow A:visited		{ color: black;  text-decoration: underline;}
.dbtable_shadow A:active		{ color: black;   text-decoration: none;}
.dbtable_shadow A:hover		{ color: red;  text-decoration: none;}

.dbtable_over {
  color:black;
	background-color: lightyellow;
  font-weight:normal;
	font-size: 7.5pt;
	}
.dbtable_over A { color: black;  text-decoration: underline; }
.dbtable_over A:link { color: black; text-decoration: underline;}
.dbtable_over A:visited		{ color: black;  text-decoration: underline;}
.dbtable_over A:active		{ color: black;   text-decoration: none;}


.dbtable_normal {
  color:black;
	background-color: white;
  font-weight:normal;
	font-size: 7.5pt;
	}
.dbtable_normal A { color: black;  text-decoration: underline; }
.dbtable_normal A:link { color: black; text-decoration: underline;}
.dbtable_normal A:visited		{ color: black;  text-decoration: underline;}
.dbtable_normal A:active		{ color: black;   text-decoration: none;}
.dbtable_normal A:hover		{ color: red; text-decoration: none;}

.smalltext
 {
	font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-weight:normal;
	font-size: 9px;
	}
.smalltext A,
.smalltext A:link,
.smalltext A:visited,
.smalltext A:active
 {
	font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight:normal;
  text-decoration: underline;
	font-size: 9px;
}
.smalltext A:hover
 {
	font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight:normal;
  text-decoration: none;
	font-size: 9px;
}

.boxtab		{ color: white; background-color:gray; font-size:8pt; font-weight:bold}

#divCC {
z-index: 1;  visibility: visible;
}
#divCheck {
z-index: 1;  visibility: visible;
}

#divIndent20
{
  padding: 0 0 0 20px
}
#divIndent10
{
  padding: 0 0 0 10px
}

#divDemoBlink
{
  padding: 5px;
  position:absolute;
  left:0; top: 0;
  width:80px; height:20px;
  color:white; background-color:red;
  font-weight:bold;
}
#divLogOutMsg
{
  padding: 2px;
  width:100%; height:20px;
  color:white; background-color:red;
  font-weight:bold;
}

#divIndent20Border
{
  border: 1px solid #cccccc;
  padding: 0 0 0 20px;
  margin: 2px 0 2px 0;
}

.blue_anc,
.blue_anc a:link,
.blue_anc a:visited,
.blue_anc a:active,
.blue_anc a:hover
 {
  color:blue;
	background-color: white;
  font-weight:normal;
	font-size: 7.5pt;
	}

.blue_anc_b,
.blue_anc_b a:link,
.blue_anc_b a:visited,
.blue_anc_b a:active,
.blue_anc_b a:hover
 {
  color:blue;
	background-color: white;
  font-weight:bold;
	font-size: 7.5pt;
	}

#divWizardStep
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  color:black;
  font-weight:bold;
	font-size: 12pt;
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}

#divSubMenu
{
  height:20px;
  padding:4px 0 0 0;
}
#divSubMenu:hover
{
  border: 1px solid white;
}

a.tipAnchor
{
  color:black;
  font-weight:bold;
  font-family:verdana;
  text-decoration:none;
  border-bottom: 1px dashed blue;
}

a.tipAnchor:hover
{
  color:black;
  font-weight:bold;
  font-family:verdana;
  text-decoration:none;
  background-color:#ccffff;
  border-bottom: 1px dashed blue;
}

a.EventEditLink,
a.EventEditLink:link,
a.EventEditLink:visited
{
  color:black;
  font-size:7pt;
  font-weight:normal;
  font-family:verdana;
  text-decoration:none;
}

a.EventEditLink:hover
{
  color:red;
  font-size:7pt;
  font-weight:normal;
  font-family:verdana;
  text-decoration:underline;
}


.edMeetEventTime
{
  text-align:right
}

  #divTopSellTitle
  {
    color:#666666;
    font-weight:bold;
    font-size:12pt;
    font-family:verdana;
  }
  .TopSellItem,
  .TopSellItem A,
  .TopSellItem A:visited,
  .TopSellItem A:active,
  .TopSellItem A:hover
  {
    color:#cc0000;
    font-weight:normal;
    font-size:8pt;
    font-family:verdana;
  }

#divBox
{
  border:1px solid #666666;
  padding:2px;
  background-color:white;
  margin: 10px 0 0 0;
}
#divTitle
{
  font-weight:bold;
  font-size:12px;
  color:white;
  background-color:#666666;
  padding:4px;
}




