
P {margin-top: 4px; margin-bottom: 4px; padding-top: 2px; padding-bottom: 2px}

body {
	color: #000000;
	font-size: 7.5pt;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}
  
.button { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: normal; vertical-align:top}
.button A { font-size:10px; font-family:verdana, arial; color: #006699;  font-weight: normal;  text-decoration: none; vertical-align:top}
.button A:link { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: normal; text-decoration: none; vertical-align:top}
.button A:visited { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: normal; text-decoration: none; vertical-align:top}
.button A:hover	{ font-size:10px; font-family:verdana, arial; color: #CC9900; font-weight: normal; text-decoration: none; vertical-align:top} 
.button A:active { font-size:10px; font-family:verdana, arial; color: #006699; font-weight: normal; text-decoration: none;  vertical-align:top} 

.pagetitle { FONT-FAMILY: Arial,Verdana,Times,Arial; Font-Weight: Bold; COLOR: #99CCFF; font-size: 20pt; }

.headlines { FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #0066CC; font-size: 9pt; }
.headlines A{ FONT-FAMILY: Verdana; Font-Weight: Bold; COLOR: #0066CC; font-size: 9pt; }
.headlines A:visited { FONT-FAMILY: Verdana; COLOR:#0066CC; }
.headlines A:active { FONT-FAMILY: Verdana; COLOR: #CC9900; }
.headlines A:hover { FONT-FAMILY: Verdana; COLOR: #CC9900;}
.disable{
   	opacity: 0.6;
   	pointer-events: none;
        cursor: default;
}

    
.team_feed_pane {
  margin: 5px 0;
}    
.team_feed_pane .pane-body {
  width: 100%;
  height: 500px;
  border: 0;
}